*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #222736;   
    color: #A6B0CF;
}


header{
    width: 100vw;
    height: 70px;
    padding: 20px;

    box-shadow: 0 0 1px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 40px;
    font-weight: 400;
}

.logo strong{
    color: green;
}



nav {
    display: flex;
    gap: 50px;
}


nav a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

nav div {
    display: flex;
    gap: 50px;
}

.menu-produto a{
    color: rgb(17, 85, 148);
}
.menu-fornecedor a{
    color: rgb(192, 111, 6);
}

main{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.table-container{
    background-color: #2a3042;
    padding: 20px;

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.table-container span{
    font-weight: 600;
}
table, th, td {
    border: 1px solid #A6B0CF;
    border-collapse: collapse;
    padding: 10px 20px;
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    background-color: #2a3042;
    padding: 20px;
    border-radius: 5px;
}

form input, form select{
    padding: 5px 10px;
    width: 300px;

    border: 1px solid #32394e;
    background-color: #2e3446;
    color: white;

    padding: 10px 20px;
    border-radius: 5px;

}
form input::-webkit-input-placeholder { /* Para navegadores baseados no WebKit */
    color: #A6B0CF;
}

form button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
