/* Section Styles Start */
main{
    width: 100vw;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.div-main-title{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-main-title h1{
    color: white;
    font-size: 50px;
}

.table-container{
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.table-container span{
    font-weight: 600;
}
table, th, td {
    border-collapse: collapse;
    padding: 10px 20px;
    font-weight: 500;
}
tr{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
td{
    color: white;
}
td a{
    display: block; 
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
td a:hover{
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
}

form h3{
    font-size: 27px;
    color: white;
}
form span{
    font-size: 14px;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form div span{
    color: white;
}
form input, select{
    padding: 5px 10px;
    width: 100%;

    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    color: white;

    padding: 10px 20px;
    border-radius: 5px;

    outline: none;

}
select{
    background-color: black;
}
form input::-webkit-input-placeholder { 
    color: #888;
}

form button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

